<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>10,000 Leads | Crawler</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/alertify.css">
    <script src="ui/semantic.min.js"></script>
</head>
<body>

    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="first">Crawler</a>
      <a class="item" data-tab="second">Contacts</a>
      <a class="item" data-tab="third">Emails</a>
      <a class="item" data-tab="forth">Settings</a>
      <div class="right menu">
        <div class="item">
            <a class="ui button" href="/logout">Logout <%= user.local.email %></a>
        </div>
      </div>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        <% if (user.local.active_until > new Date()) { %>
            <div class="ui grid">
                <div class="row eight wide column">
                    <div class="ui search what" >
                      <div class="ui icon input" id="divsearchwhat">
                        <input id="searchinputwhat" class="prompt" type="text" placeholder="Search keywords...">
                        <i class="search icon"></i>
                      </div>
                      <div class="results"></div>
                    </div>

                <div class="ui search where" >
                      <div class="ui icon input" id="divsearchwhere">
                        <input id="searchinputwhere" class="prompt" type="text" placeholder="Location">
                        <i class="search icon"></i>
                      </div>
                      <div class="results"></div>
                    </div>
                
                    <button class="ui primary button" id="searchBtn">
                      Search
                    </button>
                </div>
            </div>
            <div class="ui segment">
              <div id="loaderdiv" class="ui inverted dimmer">
                <div  class="ui text loader">Loading</div>
              </div>

              <div class="ui horizontal statistic">
                  <div id="results" class="value">
                    
                  </div>
                  <div class="label">
                    Results 
                  </div>
                </div>


              <table class="ui compact celled definition table">
                <thead>
                    <tr id="headers">
                        <th></th>
                        <th>Title</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Region</th>
                        <th>Postal</th>
                        <th>Phone</th>
                        <th>Website</th>
                    </tr>
                </thead>
                  <tbody id="tbody">
                    
                  </tbody>
                  <tfoot class="full-width">
                    <tr>
                      <th></th>
                      <th colspan="7">
                        <div class="ui small disabled button" id="saveBtn">
                          Save
                        </div>
                        <div class="ui small green button" id="selectAll">
                          Select All
                        </div>
                        <div class="ui small red button" id="selectNone">
                          Select None
                        </div>
                        <div id="pullEmails" class="ui right floated small primary labeled icon button">
                            <i class="mail icon"></i> Get Emails
                        </div>
                      </th>
                    </tr>
                  </tfoot>
                </table>

            </div>
            <% } else { %>
                   <div class="ui middle aligned center aligned grid">

                      <div class="">
                      <br>
                      <br>
                        <h2 class="ui teal image header">
                          <div class="content">
                            Error
                          </div>
                        </h2>

                        <div class="ui message">
                          <div class="header">
                            Error
                          </div>
                          <p>You are not a member and therefore cannot use the crawler tool. <a href="/payment">Join us for unlimited access!</a></p>
                        </div> 
                      </div>
                    </div>
            <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      <% if (user.local.active_until > new Date()) { %>
        <div class="ui segment">
          <table class="ui celled table">
            <thead>
                <tr id="headers">
                    <th>Actions</th>
                    <th>Title</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Region</th>
                    <th>Postal</th>
                    <th>Phone</th>
                    <th>Website</th>
                </tr>
            </thead>
              <tbody id="tbody">
                
              </tbody>
            </table>
        </div>
        <% } else { %>
               <div class="ui middle aligned center aligned grid">

                  <div class="">
                  <br>
                  <br>
                    <h2 class="ui teal image header">
                      <div class="content">
                        Error
                      </div>
                    </h2>

                    <div class="ui message">
                      <div class="header">
                        Error
                      </div>
                      <p>You are not a member and therefore cannot use the contact database tool. <a href="/payment">Join us for unlimited access!</a></p>
                    </div> 
                  </div>
                </div>
        <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
      Third
    </div>
    <div class="ui bottom attached tab segment" data-tab="forth">
      <% if (user.local.active_until > new Date()) { %>
          <div class="ui top attached tabular menu">
            <a class="item active" data-tab="settings_first">Integration</a>
            <a class="item" data-tab="settings_second">Locale</a>
            <a class="item" data-tab="settings_third">Account</a>
          </div>
          <div class="ui bottom attached tab segment active" data-tab="settings_first">
            <% if (!user.salesforce.active) { %>
            <button class="ui basic button">
              <i class="icon world"></i>
                <a href="/oauth2/auth">Authorize Salesforce</a>
            </button>
          <% } else { %>

            <button class="ui basic button disabled">
              <i class="icon world"></i>
              Authorized
            </button>

           <% } %>
            
          </div>
          <div class="ui bottom attached tab segment" data-tab="settings_second">
            
          </div>
          <div class="ui bottom attached tab segment" data-tab="settings_third">
            <div class="ui list">
              <div class="item">
                <i class="users icon"></i>
                <div class="content">
                  <%= user.local.firstname + ', ' + user.local.lastname %>
                </div>
              </div>
              <div class="item">
                <i class="marker icon"></i>
                <div class="content">
                  <%= user.local.locale %>
                </div>
              </div>
              <div class="item">
                <i class="mail icon"></i>
                <div class="content">
                  <%= user.local.email %>
                </div>
              </div>
              <div class="item">
                <i class="linkify icon"></i>
                <div class="content">
                  Active until: <%= user.local.active_until %>
                </div>
              </div>
            </div>
            <hr>
            <button id="unsubscribe" class="ui basic button">
              Unsubscribe
            </button>
          </div>
        
        <% } else { %>
               <div class="ui middle aligned center aligned grid">

                  <div class="">
                  <br>
                  <br>
                    <h2 class="ui teal image header">
                      <div class="content">
                        Error
                      </div>
                    </h2>

                    <div class="ui message">
                      <div class="header">
                        Error
                      </div>
                      <p>You are not a member and therefore cannot use the contact database tool. <a href="/payment">Join us for unlimited access!</a></p>
                    </div> 
                  </div>
                </div>
        <% } %>
    </div>

    <!-- <div class="ui pointing menu">
      <a class="active item">
        Crawler
      </a>
      <a href="/contacts" class="item">
        Contacts
      </a>
      <a href="/settings" class="item">
        Settings
      </a>

      <div class="right menu">
        <div class="item">
            <a class="ui button" href="/logout">Logout <%= user.local.email %></a>
        </div>
      </div>
    </div> -->

   

    <script src="js/main.js"></script> 
    <script src="js/alertify.js"></script>
</body>
</html>